
.icon-clock:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-scissors:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-star-1:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-attach:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-eye-outline:before { content: '\e80e'; } /* '' */
.icon-vcard:before { content: '\e80f'; } /* '' */
.icon-arrows-cw:before { content: '\e810'; } /* '' */
.icon-note:before { content: '\e811'; } /* '' */
.icon-video-alt:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-params:before { content: '\e814'; } /* '' */
.icon-mail-1:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
